# Assignment 1. Traffic volume prediction.
by Anvar Kurmukov,
updated by Bogdan Kirillov, Hekmat Taherinejad, Satyarth Mishra Sharma

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using a public dataset compiling weather information and traffic data continuously monitored in the Twin Cities, Minnesota from 2012 to 2018. The dataset page can be found [here](https://archive.ics.uci.edu/ml/datasets/Metro+Interstate+Traffic+Volume). We've slightly modified it so please download the dataset provided on Canvas.  

You need to download `Metro_Interstate_Traffic_Volume.csv` and place it in the same directory as this notebook.

In [1]:
import numpy as np
import pandas as pd

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `Metro_Interstate_Traffic_Volume.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [2]:
COLAB_P = False
if COLAB_P:
    print("Upload your file, then read it with pd.read_csv()")
    from google.colab import files
    uploaded = files.upload()
    fn = list(uploaded.keys())[0]
    print("File is uploaded to ", fn)
else:
    print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

Place your file to the same directory as the notebook, then read your file with pd.read_csv()

In [3]:
# Load the data
df = pd.read_csv('Metro_Interstate_Traffic_Volume.csv')
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0

In [4]:
# Observe top 10 observations (int)
#df.dtypes
#I have no idea what 'int' means in context of this exersize, but there are no ints in data
df.head(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0

In [5]:
# Observe last 10 observations (int)
df.tail(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48194,None,283.84,0.00,0.0,75.0,Rain,proximity shower rain,2018-09-30 15:00:00,4302.0
48195,None,283.84,0.00,0.0,75.0,Drizzle,light intensity drizzle,2018-09-30 15:00:00,4302.0
48196,None,284.38,0.00,0.0,75.0,Rain,light rain,2018-09-30 16:00:00,4283.0
48197,None,284.79,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 17:00:00,4132.0
48198,None,284.20,0.25,0.0,75.0,Rain,light rain,2018-09-30 18:00:00,3947.0
48199,None,283.45,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.00,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [6]:
# Print all the columns/features names (int)
df.columns

Index(['holiday', 'temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main',
       'weather_description', 'date_time', 'traffic_volume'],
      dtype='object')

In [7]:
# Q1.1 How many columns end with a vowel?
#Endswithvowel= df[df.columns.str.endswith(r'[aeiouAEIOU]')
#In this exercise i didn't count Y as vowel, but i have added it anyway.
count = 0
for col in df.columns:
    vowels = ('a','e','i','o','u','y', 'A','E','I','O','U', 'Y')
    if col.endswith(vowels):
        count+=1
print('Number of columns which end with a vowel: ', count)
# Q1.2 How many columns start with a vowel?
for col in df.columns:
    vowels = ('a','e','i','o','u','y', 'A','E','I','O','U', 'Y')
    if col.startswith(vowels):
        count+=1
    else:
        count = 0
print('Number of columns which start with a vowel: ', count)
# Q1.3 Which columns are associated with the condition of weather?
weather_columns = [col for col in df.columns if 'weather' in col]
print('Columns asocciate with a weather: ',  weather_columns)
# Q1.4 How many columns have `th` in their names?
th_columns = [col for col in df.columns if 'th' in col]
print('Columns with th in their names:', th_columns)

Number of columns which end with a vowel:  3
Number of columns which start with a vowel:  0
Columns asocciate with a weather:  ['weather_main', 'weather_description']
Columns with th in their names: ['weather_main', 'weather_description']

In [8]:
# Print data size (int)
print("Number of elements in this DataFrame: ", df.size)
# Q2.1 How many observations are in the data?
print("Number of observations in the data: ", df.shape[0])
# Q2.2 How many features are in the data?
print("Number of columns in the data: ", df.shape[1])

Number of elements in this DataFrame:  433836
Number of observations in the data:  48204
Number of columns in the data:  9

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [9]:
# Display number of not NaN's in every column (int)
print(df.count())
# Q3.1 How many NA values are in the `clouds_all` column?
print('NA in clouds_all: ', df['clouds_all'].isna().sum())
# Q3.2 How many NA values are in the `temp` column?
# Q3.3 How many NA values are in the `rain_1h` column?
# Q3.4 How many NA values are in the `snow_1h` column?
print('NA in snow_1h: ', df['snow_1h'].isna().sum())
# Q3.5 How many explicit NA values are in the `traffic_volume` column?

holiday                48204
temp                   48203
rain_1h                48203
snow_1h                48204
clouds_all             48201
weather_main           48203
weather_description    48201
date_time              48204
traffic_volume         48199
dtype: int64
NA in clouds_all:  3
NA in snow_1h:  0

In [10]:
# Now drop rows with NaN with `.dropna`. Remeber to either reassign your dataframe or provide `inplace=True` argument.
df.dropna(inplace = True)
print(df.isna().sum())

holiday                0
temp                   0
rain_1h                0
snow_1h                0
clouds_all             0
weather_main           0
weather_description    0
date_time              0
traffic_volume         0
dtype: int64

In [11]:
# Display basic data statistics using .describe()
df.describe()

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48190.000000  48190.000000  48190.000000  48190.000000    48190.000000
mean     281.201366      0.334356      0.000222     49.369267     3259.859079
std       13.337406     44.795638      0.008169     39.016127     1986.972809
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1192.250000
50%      282.440000      0.000000      0.000000     64.000000     3380.000000
75%      291.800000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [12]:
# Count number of unique values in every column (int)
print(df.nunique())
# Q4.1 How many unique values are in the `clouds_all` column?
print("Unique values in clouds_all: ", df['clouds_all'].nunique())
# Q4.2 How many unique values are in the `weather_main` column?
# Q4.3 How many unique values are in the `weather_description` column?
print('Unique values in weather_description: ', df['weather_description'].nunique())
# Q4.4 How many unique values are in the `snow_1h` column?
# Q4.5 How many unique values are in the `rain_1h` column?

holiday                   12
temp                    5843
rain_1h                  372
snow_1h                   12
clouds_all                60
weather_main              11
weather_description       38
date_time              40562
traffic_volume          6704
dtype: int64
Unique values in clouds_all:  60
Unique values in weather_description:  38

In [13]:
# Count frequency of the values in different columns (list of ints in ascending order)
#print(df.apply(pd.value_counts))
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`
#print(df['temp'].value_counts())
# numpy's `unique` function can be useful for this task

# Q5.1 For every unique `weather_main` value give its number of occurences.

print(list(df['weather_main'].value_counts()))
answer_1 =[15159, 13384, 5950, 5671, 2876, 1821, 1359, 1034, 912, 20, 4]
answer_1.sort()
print(answer_1)
# Q5.2 For every unique `weather_description` value give its number of occurences.
print(list(df['weather_description'].value_counts()))
answer_2 =[11658, 5950, 5081, 4665, 3458, 3371, 1955, 1946, 1726, 1664, 1359, 1100, 912, 673, 651, 616, 467, 293, 136, 125, 64, 63, 54, 52, 37, 20, 18, 15, 13, 13, 11, 6, 6, 4, 3, 2, 2, 1]
answer_2.sort()
print(answer_2)

[15159, 13384, 5950, 5671, 2876, 1821, 1359, 1034, 912, 20, 4]
[4, 20, 912, 1034, 1359, 1821, 2876, 5671, 5950, 13384, 15159]
[11658, 5950, 5081, 4665, 3458, 3371, 1955, 1946, 1726, 1664, 1359, 1100, 912, 673, 651, 616, 467, 293, 136, 125, 64, 63, 54, 52, 37, 20, 18, 15, 13, 13, 11, 6, 6, 4, 3, 2, 2, 1]
[1, 2, 2, 3, 4, 6, 6, 11, 13, 13, 15, 18, 20, 37, 52, 54, 63, 64, 125, 136, 293, 467, 616, 651, 673, 912, 1100, 1359, 1664, 1726, 1946, 1955, 3371, 3458, 4665, 5081, 5950, 11658]

In [14]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)
print('Column statistics:\n ', df.describe().round(3))
# Q6.1 What are the max, min, mean and the std of the `traffic_volume` column?
# Q6.2 What are the max, min, mean and the std of the `clouds_all` column?
# Q6.3 What are the max, min, mean and the std of the `temp` column?
print('Temp max and min: \n', df['temp'].max(),',',df['temp'].min(),'\n', 'Temp mean and std: \n', df['temp'].mean(),',', df['temp'].std())
# Q6.4 What are the max, min, mean and the std of the `rain_1h` column?
print('rain_1h max and min: \n', df['rain_1h'].max(),',',df['rain_1h'].min(),'\n', 'rain_1h mean and std: \n', df['rain_1h'].mean(),',', df['rain_1h'].std())
# Q6.5 What are the max, min, mean and the std of the `snow_1h` column?

Column statistics:
              temp    rain_1h    snow_1h  clouds_all  traffic_volume
count  48190.000  48190.000  48190.000   48190.000       48190.000
mean     281.201      0.334      0.000      49.369        3259.859
std       13.337     44.796      0.008      39.016        1986.973
min        0.000      0.000      0.000       0.000           0.000
25%      272.160      0.000      0.000       1.000        1192.250
50%      282.440      0.000      0.000      64.000        3380.000
75%      291.800      0.000      0.000      90.000        4933.000
max      310.070   9831.300      0.510     100.000        7280.000
Temp max and min:
 310.07 , 0.0
 Temp mean and std:
 281.2013658850321 , 13.337406217540625
rain_1h max and min:
 9831.3 , 0.0
 rain_1h mean and std:
 0.33435588296327456 , 44.79563835698393

In [15]:
# Display data types of all columns (int)
print('Data types for columns: \n', df.dtypes)
# Q7.1 How many columns have `object` data type?
print('Number of different types of data in df: \n', df.dtypes.value_counts())
# Q7.2 How many columns have `int64` data type?
# Q7.3 How many columns have `float64` data type?
# Q7.4 What are the columns with dtype == `float64`?
# Q7.5 What are the columns with dtype == `int64`?
'''None of the columns are of type int 64, answer is 0'''

Data types for columns:
 holiday                 object
temp                   float64
rain_1h                float64
snow_1h                float64
clouds_all             float64
weather_main            object
weather_description     object
date_time               object
traffic_volume         float64
dtype: object
Number of different types of data in df:
 float64    5
object     4
dtype: int64

'None of the columns are of type int 64, answer is 0'

# 3. Data selection

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [16]:
# Select rows by position (int) 

# Q8.1 What is the temperature of the time slot with index 777?
# Q8.2 What is the weather description of the time slot with index 999?
# Q8.3 How much is cloud coverage with index 1337?
# Q8.4 What is the weather main of the time slot with index 314?
print('Main weather: ', df['weather_main'].iloc[314])
# Q8.5 When was the time slot with index of 2718 observed?
print('Time slot: ', df['date_time'].iloc[2718])

Main weather:  Clouds
Time slot:  2013-01-06 14:00:00

In [17]:
# Select rows by index (int)

# Q9.1 What is the temperature of the time slot on index 1102?
print('Temperature: ', int(df['temp'].iloc[1102]))
# Q9.2 What is the weather description of the time slot on index 5695?
# Q9.3 How much is cloud coverage on the index 1045?
print('Cloud coverage: ', int(df['clouds_all'].iloc[1045]))
# Q9.4 What is the weather main of the time slot from index 252?
# Q9.5 When was the time slot with index of 38 captured?

Temperature:  280
Cloud coverage:  20

In [18]:
# Using mask or .query syntax select rows/columns (int)

# Q10.1 How many time slots have less than 270 temperature?
# Q10.2 When was the first "light intensity drizzle" in weather description captured?
# Q10.3 How many time slots have cloud coverage more than 75?
print('Number of time slots with cloud coverage > 75: \n', df[df['clouds_all']> 75]['date_time'].count())
# Q10.4 How many time slots are foggy? (weather_main = Fog)
print('Number of time slots are foggy: \n', df[df['weather_main']=='Fog']['date_time'].count())
# Q10.5 When was the last observed timeslot with weather_description "heavy snow"?

Number of time slots with cloud coverage > 75:
 18036
Number of time slots are foggy:
 912

In [19]:
# Q11.1 What is the traffic volume of November 20th 2016, at 20:00?
# Q11.2 What is the amount of rain in the 70th rainy time slot (non-zero rain) of the dataset?
# Q11.3 How much cloud coverage percentage were in sky on October 16th 2012 at 19:00?
# Q11.4 What is the `traffic_volume` of a thirty fourth sample with `clouds_all` == 90?
print('Thirty fourth traffic_volume with clouds all == 90: ', df[df['clouds_all']== 90]['traffic_volume'].values[34])
# Q11.5 What is the "weather_description" in the 20th "weather_main" with Thunderstorm?
print('Weather_description in the 20th weather_main:', df[df['weather_main']=='Thunderstorm']['weather_description'].values[20])

Thirty fourth traffic_volume with clouds all == 90:  3833.0
Weather_description in the 20th weather_main: proximity thunderstorm with rain

In [20]:
# Q12.1 What is the temperature of the tenth holiday?
print('Tenth holiday tempreture: ', df['temp'].values[10])
# Q12.2 What is the traffic volume for 99-th time slot with cloud coverage 75 percent?
print('Traffic volume on 99-th time slot: ', df[df['clouds_all'] == 75.0]['traffic_volume'].values[99])
# Q12.3 How much is the temperature of the twelfth holiday?
# Q12.4 How much is the temperature the 666-th time slot with weather_description 'proximity thunderstorm'?
# Q12.5 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)?

Tenth holiday tempreture:  290.97
Traffic volume on 99-th time slot:  762.0

# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to sum a number of existing columns:
```
data['sum'] = data[col1] + data[col2] + ...
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of sum using .apply():
```
data['sum'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['sum'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['sum'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [21]:
# Create new columns using the old ones (new column in your DataFrame)

# Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin) using any method above
df['temp_in_celcius'] = df['temp'].apply(lambda x: x - 273)

# Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)
df['hot'] = df['temp'] > 300

# Q13.3 Create a new bool column `rainy_and_cloudy` which indicates whether it was rainy (>0.1) AND cloudy (>50)
df['rainy_and_cloudy'] = (df['rain_1h'] > 0.1) & (df['clouds_all'] > 50) 

# Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday
df['is_holiday'] = df['holiday'] != 'None'
# Q13.5 Create a new column `traffic_cat` by splitting a `traffic_volume` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
df['traffic_cat'] = pd.qcut(df['traffic_volume'], q =[0, .2, .4, .6, .8, 1], labels = ['1', '2', '3', '4', '5'])
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday,traffic_cat
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,False,False,5
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,False,False,4
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,False,False,4
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,False,False,4
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,False,False,4

In [22]:
# Using mask or .query syntax select rows/columns (int).
# For working with dates, define helper functions that operate on the date_time string.

df['new_date_time'] = pd.to_datetime(df['date_time'])

# Q14.1 How many cloudy time slots were captured in autumn 2016? Including both start and end day.
#df.loc[df['new_date_time'] > '2016-09-01 09:00:00' ].loc[df['new_date_time'] <= '2016-11-31 23:00:00'].loc[df["weather_main"] =="Clouds"].count_values()
filt = (df['new_date_time'] >= '2016-09-01') & (df['new_date_time'] <= '2016-11-30') & (df["weather_main"] =="Clouds")
print('Number of cloudy time slots: ', df.loc[filt].shape[0])

# Q14.2 How many rainy time slots that were captured in the fall, with traffic volume more than 2000?
# Q14.3 How many time slots that are warmer than 270, have weather main "Clouds"?
# Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290?
filt1 = (df['temp'] > 290) & (df['new_date_time'].dt.month == 3) & (df['new_date_time'].dt.day == 8)
print('Minimum traffic value captured on March 8th: ', df['traffic_volume'].loc[filt1].min())
# Q14.5 How much is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky (weather_main)?

Number of cloudy time slots:  643
Minimum traffic value captured on March 8th:  4780.0

In [23]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q15.1 What was the average temperature of time slots with main weather "Haze"?
print('Average temp with Haze weather: ', df['temp'].loc[df['weather_main']=='Haze'].mean())
# Q15.2 What was the traffic volume of the coldest time slot of the year 2016?
# Q15.3 What was the traffic volume of the highest amount of snow in one hour?
# Q15.4 What is the median of temperatures captured in April 2017?
print( 'Median temp in April 2017: ', df['temp'].loc[(df['new_date_time'] > '2017-04-01 00:00:00') & (df['new_date_time'] < '2017-05-01 00:00:00')].median())

# Q15.5 What is the maximum temperature of time slots with clear sky?)

Average temp with Haze weather:  275.8047387785128
Median temp in April 2017:  282.015

In [24]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average temperature in celcius of the time slots with rainy_and_coudy=True?
print('Average temp in celcius when rainy and cloudy: ', df.query('rainy_and_cloudy == True').temp_in_celcius.mean())
# Q16.2 What is the average traffic volume on holidays?
print('Average traffic volume on holidays: ', df.query('is_holiday == True').traffic_volume.mean())
# Q16.3 What is the average traffic volume on non-holidays?
print('Average traffic volume on non-holidays: ', df.query('is_holiday == False').traffic_volume.mean())
# Q16.4 What is the average traffic volume in the highest quantile?
print('Average traffic volume in the highest quantile: ', df.query('traffic_cat == "5"').traffic_volume.mean())
# Q16.5 What is the average traffic volume in the lowest quantile?
print('Average traffic volume in the highest quantile: ', df.query('traffic_cat == "1"').traffic_volume.mean())

Average temp in celcius when rainy and cloudy:  13.734578809434657
Average traffic volume on holidays:  865.4426229508197
Average traffic volume on non-holidays:  3262.8938270065864
Average traffic volume in the highest quantile:  5870.913350649351
Average traffic volume in the highest quantile:  485.5536195809998

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separate columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [25]:
# Create new columns based on `Captured` column

# Q17.1 Convert date to datetime format
df['new_date_time'] = pd.to_datetime(df['date_time'])
# Q17.2 Extract and store `year`
df['year'] = df['new_date_time'].dt.year
# Q17.3 Extract and store `month`
df['month'] = df['new_date_time'].dt.month
#df['month'].to_csv('month.csv', index=False)
# Q17.4 Extract and store `day`
# Q17.5 Extract and store `weekday` (Monday - 0, Sunday - 6)
df['weekday'] = df['new_date_time'].dt.weekday
#df['day_of_week'].to_csv('day_of_week.csv', index=False)
# Q17.6 Extract and store `hour`
df

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday,traffic_cat,new_date_time,year,month,weekday
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,False,False,5,2012-10-02 09:00:00,2012,10,1
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,False,False,4,2012-10-02 10:00:00,2012,10,1
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,False,False,4,2012-10-02 11:00:00,2012,10,1
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,False,False,4,2012-10-02 12:00:00,2012,10,1
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,False,False,4,2012-10-02 13:00:00,2012,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False,False,False,3,2018-09-30 19:00:00,2018,9,6
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False,False,False,3,2018-09-30 20:00:00,2018,9,6
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73,False,False,False,2,2018-09-30 21:00:00,2018,9,6
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False,False,False,2,2018-09-30 22:00:00,2018,9,6
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False,False,False,2,2018-09-30 23:00:00,2018,9,6

In [26]:
# Find some date related information from the data (int)
df
# Q18.1 What is the weekday with the highest traffic volume?
df['traffic_volume'].max()
print('Weekday with the highest traffic volume: ', df['weekday'].loc[df['traffic_volume'] == 7280.0])
# Q18.2 What is the weekday with the lowest traffic volume?
# Q18.3 What is the average traffic volume during months of September?
print('Average traffic volume during months of September: ', df['traffic_volume'].loc[df['new_date_time'].dt.month == 9].mean())
# Q18.4 What is the average traffic volume in the time period between 15-19 hours
# Q18.5 What is the average traffic volume on World Bicycle Day (June 3)?

Weekday with the highest traffic volume:  31615    3
Name: weekday, dtype: int64
Average traffic volume during months of September:  3303.049334377447

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By group by we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average traffic volume with for each month you could compute average traffic volumes for every month in a single command:
```
data.groupby('month')['traffic_volume'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','month'])['traffic_volume'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','month'])['traffic_volume'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['weekday','month'])['traffic_volume'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['month'])['traffic_volume'].median()
data['gp_feature'] = data['month'].map(gp)
```
Now, if some timeslot has month == 2, its gp_feature will be equal to the median traffic volume amongst all observations in February

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [27]:
# Create some groupby features

# Q19.1 `traffic_by_year` groupby `year` and compute median traffic volume.
df['year'] = df['new_date_time'].dt.year
gp = df.groupby('year')['traffic_volume'].median()
df['traffic_by_year'] = df['year'].map(gp)

# Q19.2 `traffic_by_weekday` groupby `weekday` and compute median traffic volume.
gh = df.groupby('weekday')['traffic_volume'].median()
df['traffic_by_weekday'] = df['weekday'].map(gh)

# Q19.3 `temperature_by_traffic` groupby `traffic_cat` and compute average temperature in celsius.
gt = df.groupby('traffic_cat')['temp_in_celcius'].mean()
df['tempreture_by_traffic'] = df['traffic_cat'].map(gt)

#Values

traffic_by_year = df.groupby(['year']).median().traffic_volume
traffic_by_weekday = df.groupby(['weekday']).median().traffic_volume
temperature_by_traffic = df.groupby(['traffic_cat']).mean().temp_in_celcius
print(traffic_by_year)
print(traffic_by_weekday)
print(temperature_by_traffic)

year
2012    3225.0
2013    3344.0
2014    3316.0
2015    3368.0
2016    3258.5
2017    3530.0
2018    3400.0
Name: traffic_volume, dtype: float64
weekday
0    3619.0
1    4070.0
2    4315.0
3    4280.0
4    4336.5
5    3003.0
6    2260.0
Name: traffic_volume, dtype: float64
traffic_cat
1    5.595774
2    6.181004
3    9.394710
4    9.947489
5    9.890191
Name: temp_in_celcius, dtype: float64

# 7. Building a regression model

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
- You may create or drop any features you want - try to only keep features which you think will be relevant to the prediction of traffic volume.

In [28]:
# Q20 Separate your data into inputs and targets, keeping only relevant inputs. Drop any features computed from the output eg. `traffic_cat`
Y = df["traffic_volume"].values

Xdf = df.drop(columns=['holiday', 'temp', 'traffic_volume','traffic_cat', 'date_time', 'new_date_time'])
#from lecture:
Xdf = pd.get_dummies(Xdf, columns=['is_holiday', 'weather_main', 'weather_description','rainy_and_cloudy','month', 'year', 'weekday'])
Xdf.head()

,rain_1h,snow_1h,clouds_all,temp_in_celcius,hot,traffic_by_year,traffic_by_weekday,tempreture_by_traffic,is_holiday_False,is_holiday_True,...,year_2016,year_2017,year_2018,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,0.0,0.0,40.0,15.28,False,3225.0,4070.0,9.890191,1,0,...,0,0,0,0,1,0,0,0,0,0
1,0.0,0.0,75.0,16.36,False,3225.0,4070.0,9.947489,1,0,...,0,0,0,0,1,0,0,0,0,0
2,0.0,0.0,90.0,16.58,False,3225.0,4070.0,9.947489,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0.0,0.0,90.0,17.13,False,3225.0,4070.0,9.947489,1,0,...,0,0,0,0,1,0,0,0,0,0
4,0.0,0.0,75.0,18.14,False,3225.0,4070.0,9.947489,1,0,...,0,0,0,0,1,0,0,0,0,0

Now it's time to split our data into train and test sets. Generally a random split is used, but one needs to be very careful with time series data - we need to make sure train and test data don't contain mixed adjacent time slots. In general with time series, it is recommended not to predict values from the past using input information from the future (although the applicability of this rule in our case is debatable), so we'll use sklearn's [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html) class here. TimeSeriesSplit splits data into a number of folds, then only provides data from past folds to train a model tested on the currently considered fold. So if we split our data into five parts, we'll get four folds:

1. Train on [0], test on [1]
2. Train on [0,1], test on [2]
3. Train on [0, 1, 2], test on [3]
4. Train on [0, 1, 2, 3], test on [4]

For the following tasks, you are required to use train and test indices from the last fold provided by TimeSeriesSplit with `n_splits` = 5.

In [29]:
# Q21 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.TimeSeriesSplit with n_splits=5

from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits = 5)
for train_index, test_index in tscv.split(Xdf):
    print("TRAIN:", train_index, "TEST:", test_index)
X_train, X_test = Xdf[train_index[-1]:], Xdf[:test_index[-1]]
y_train, y_test = Y[train_index[-1]:], Y[:test_index[-1]]
X_train = np.array(X_train, dtype=float)
X_test = np.array(X_test, dtype=float)
y_train = np.array(y_train, dtype = float)
y_test = np.array(y_test, dtype = float)

TRAIN: [   0    1    2 ... 8032 8033 8034] TEST: [ 8035  8036  8037 ... 16063 16064 16065]
TRAIN: [    0     1     2 ... 16063 16064 16065] TEST: [16066 16067 16068 ... 24094 24095 24096]
TRAIN: [    0     1     2 ... 24094 24095 24096] TEST: [24097 24098 24099 ... 32125 32126 32127]
TRAIN: [    0     1     2 ... 32125 32126 32127] TEST: [32128 32129 32130 ... 40156 40157 40158]
TRAIN: [    0     1     2 ... 40156 40157 40158] TEST: [40159 40160 40161 ... 48187 48188 48189]

In [30]:
X_train.shape

(8032, 87)

In [31]:
from sklearn.preprocessing import StandardScaler

scaler_train = StandardScaler()
scaler_test = StandardScaler()
scaler_train.fit(X_train)
X_train_scaled = scaler_train.transform(X_train)
scaler_test.fit(X_test)
X_test_scaled = scaler_test.transform(X_test)

In [32]:
# Create a predictive regression model of a traffic volume.

# Q22.1 Use linear regression with l2 regularization (Ridge regression)
# Q22.2 Use decision tree regression
# Q22.3 Use k nearest neighbours regression
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
clf = Ridge(random_state = 7)

clf2 = DecisionTreeRegressor(random_state = 7) 

clf3 = KNeighborsRegressor ()

In [33]:
# Use grid search to select optimal hyperparamters of your models. 
from sklearn.model_selection import GridSearchCV, KFold
# Q23.1 Alpha for a ridge regression
#param = {'alpha': np.logspace(-9, 1, 15)}
#{'alpha':[0.01, 0.001, 1, 100, 1000]}
#in param grid u can place any values at al
gs1 = GridSearchCV(clf, param_grid = {'alpha':[0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 10, 20, 50, 100, 200, 1000, 10000]}, cv = KFold(n_splits=5, shuffle=True, random_state=7), n_jobs = -1, refit = True, verbose = 1)

a = gs1.fit(X_train_scaled, y_train)

print(gs1.best_estimator_)

print(gs1.best_score_)


# Q23.2 Depth for the tree
# Q23.3 Number of neighbours for the knn

Fitting 5 folds for each of 13 candidates, totalling 65 fits
Ridge(alpha=20, random_state=7)
0.8442814079440722

In [34]:
# Q23.2 Depth for the tree
from sklearn.model_selection import GridSearchCV, KFold 

param = {'max_depth':range(1, 10, 1)}

gs2 = GridSearchCV(clf2, param_grid=param, cv =KFold (n_splits=5, shuffle=True, random_state=314), n_jobs = -1, verbose = 1)

b = gs2.fit(X_train_scaled, y_train)

print(gs2.best_estimator_)

print(gs2.best_score_)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
DecisionTreeRegressor(max_depth=6, random_state=7)
0.9580927678586992

In [35]:
# Q23.3 Number of neighbours for the knn
param = [1,2,3,4, 5]
param_knn = {'n_neighbors': param, 'weights': ['uniform', 'distance'], 'algorithm':['auto', 'ball_tree', 'kd_tree', 'brute']} 

gs3 = GridSearchCV(clf3, param_knn, scoring='neg_mean_squared_error', n_jobs=-1, verbose = 1)

c = gs3.fit(X_train_scaled, y_train)

print(gs3.best_estimator_)

print(gs3.best_score_)

Fitting 5 folds for each of 40 candidates, totalling 200 fits
KNeighborsRegressor(algorithm='ball_tree', weights='distance')
-1387104.2176227802

In [36]:
a.best_params_, b.best_params_ , c.best_params_

({'alpha': 20},
 {'max_depth': 6},
 {'algorithm': 'ball_tree', 'n_neighbors': 5, 'weights': 'distance'})

In [37]:
# Compute train and test mean squared error for your best models (list of float).

# Q24.1 Train, test MSE using linear regression with l2 regularization
# Q24.2 Train, test MSE using decision tree regression
# Q24.3 Train, test MSE using k nearest neighbours regression

from sklearn.metrics import mean_squared_error

In [38]:
# Q24.1 Train, test MSE using linear regression with l2 regularization
linreg = a.best_estimator_
linreg.fit(X_train_scaled, y_train)
print('Train MSE with linear regression and L2 regularization: \n', mean_squared_error(y_train, linreg.predict(X_train_scaled)))
print('Test MSE with linear regression and L2 regularization: \n', mean_squared_error(y_test, linreg.predict(X_test_scaled)))

Train MSE with linear regression and L2 regularization:
 594382.7347554304
Test MSE with linear regression and L2 regularization:
 610668.5453263317

In [39]:
# Q24.2 Train, test MSE using decision tree regression
dtr = b.best_estimator_
dtr.fit(X_train_scaled, y_train)
print('Train MSE with decision tree regression: \n', mean_squared_error(y_train, dtr.predict(X_train_scaled)))
print('Test MSE with decision tree regression: \n', mean_squared_error(y_test, dtr.predict(X_test_scaled)))

Train MSE with decision tree regression:
 152288.4673066153
Test MSE with decision tree regression:
 178959.05089152997

In [40]:
# Q24.3 Train, test MSE using k nearest neighbours regression
knnr = c.best_estimator_
knnr.fit(X_train_scaled, y_train)
print('Train MSE with k nearest neighbours regression: \n', mean_squared_error(y_train, knnr.predict(X_train_scaled)))
print('Test MSE with k nearest neighbours regression: \n', mean_squared_error(y_test, knnr.predict(X_test_scaled)))

Train MSE with k nearest neighbours regression:
 1126.3542704183267
Test MSE with k nearest neighbours regression:
 1537167.391716648

In [41]:
# Compute train and test R^2 for your best models (list of float).
from scipy.stats import pearsonr
from sklearn.metrics import r2_score
# Q25.1 Train, test R^2 using linear regression with l2 regularization
print('Train R^2 with linear regression and L2 regularization: \n', r2_score(y_train, linreg.predict(X_train_scaled)))
print('Test R^2 with linear regression and L2 regularization: \n', r2_score(y_test, linreg.predict(X_test_scaled)))
# Q25.2 Train, test R^2 using decision tree regression
print('Train R^2 with decision tree regression: \n', r2_score(y_train, dtr.predict(X_train_scaled)))
print('Test R^2 with decision tree regression: \n', r2_score(y_test, dtr.predict(X_test_scaled)))
# Q25.3 Train, test R^2 using k nearest neighbours regression
print('Train R^2 with k nearest neighbours regression: \n', r2_score(y_train, knnr.predict(X_train_scaled)))
print('Test R^2 with k nearest neighbours regression: \n', r2_score(y_test, knnr.predict(X_test_scaled)))

Train R^2 with linear regression and L2 regularization:
 0.8467450070660978
Test R^2 with linear regression and L2 regularization:
 0.8453201150489732
Train R^2 with decision tree regression:
 0.9607341084855142
Test R^2 with decision tree regression:
 0.9546703926136324
Train R^2 with k nearest neighbours regression:
 0.9997095820493086
Test R^2 with k nearest neighbours regression:
 0.6106416858688192

In [47]:
# Q26 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).
pd.DataFrame(linreg.coef_, Xdf.columns).rename(columns={0:'coefficient_importance'}).sort_values(by=['coefficient_importance'],ascending = False)[0:5]

                       coefficient_importance
tempreture_by_traffic             1768.789329
traffic_by_weekday                  62.395440
month_4                             37.059626
weekday_2                           31.895830
weekday_3                           24.941709

In [46]:
pd.DataFrame(dtr.feature_importances_, Xdf.columns).rename(columns={0:'feature_importance'}).sort_values(by=['feature_importance'],ascending = False)[0:5]

                       feature_importance
tempreture_by_traffic            0.992656
traffic_by_weekday               0.002097
clouds_all                       0.001901
temp_in_celcius                  0.001744
weekday_4                        0.000436

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells